.wrapper {
  @apply p-30 flex space-x-30 items-center min-h-250;

  &.primary {
    @apply bg-secondary text-primary;

    [class^="flaticon-"]::before {
      @apply m-0 text-60 leading-60 bg-gradient-to-b from-white to-primary;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &.secondary {
    @apply bg-primary text-secondary;

    [class^="flaticon-"]::before {
      @apply m-0 text-60 leading-60 bg-gradient-to-b from-white to-secondary;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .iconWrapper {
    @apply relative w-60 flex items-center justify-center;
  }

  .textWrapper {
    .title {
      @apply text-36 font-semibold;
    }

    .description {
      @apply text-18 font-normal;
    }
  }
}
